{% extends 'base.html.twig' %}

{% block title %}Hello FeedbackController!{% endblock %}

{% block body %}
<style></style>

<div class="example-wrapper">

    <h1>L'élément Feedback {{ feedbackid }} à était sauvegarder dans la base de donnée</h1>
    
</div>
{% endblock %}
